/* your custom css */

div.otherbg.productShowcaseSection {
    padding-top:50px;
    background: 
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url('../img/background.png') 0 0 no-repeat;
    background-color: black;
    background-position: center;
    background-size: 100%;
}

div.mini.productShowcaseSection {
    padding:0px;
    background-color:#20232a;
}

div.mini.productShowcaseSection div.alignCenter {
    width:100%;
}

div.mini.productShowcaseSection div.alignCenter h2 {
    margin-top:0px;
}

div.mainContainer > div {
    background: transparent;
}

img.logo {
    margin: auto;
    padding-top:2px;
}

img.logo:hover {
    filter: opacity(.8);
    margin: auto;
    padding-top:2px;
}

.nav-footer .sitemap .nav-home {
    flex: 1;
}

.nav-footer .sitemap .nav-home > img {
    min-width: 200px;
    height:auto;
}
